*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p5Canvas{
    position: absolute;
    top: 0%;
    z-index: -1;
}

.menu{
    position: absolute;
    top: 15%;
    /* bottom: 25%; */

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.menu_button{
    border: none;
    border-radius: 8px;
    
    font-size: 14pt;
    font-weight: bold;

    background-color: rgb(2, 19, 22);
    color: white;

    width: 100px;
    height: 40px;

    cursor: pointer;
}

.menu_button:hover{
    border: 4px solid white;

    opacity: .8;
}

.hidden{
    display: none !important;
}

.score{
    color: white;
    margin: 12px auto;
}

.menu img{
    width: 100%;
    height: 100%;
}

.mobile{
    display: flex;
    opacity: .6;
}

@media screen and (max-width:1024px){
    .mobile{
        
        flex-direction: column;

        align-items: center;

        position: absolute;
        bottom:0%;

    }
    .mobile .lr{
        display: flex;
        margin: 12px auto;
        
    }
    
    .mobile .lr .menu_button{
        margin: auto 12px;
    }
}